.buttonStyle {
  background-color: transparent;
  border: 1.5px solid rgba(4, 51, 10, 0.4);
  color: '#06402B'; /* No quotes needed for keyword 'white' */
  padding: 12px 28px; /* No quotes needed for numerical values + units */
  font-size: 0.9rem; /* No quotes needed */
  border-radius: 20px; /* No quotes needed */
  cursor: pointer; /* No quotes needed for keyword 'pointer' */
  /* font-family: ; */
} 

.upcoming-feature-btn { 
  background-color: transparent;
  border: 1.5px solid rgba(4, 51, 10, 0.4);
  color: '#06402B'; /* No quotes needed for keyword 'white' */
  padding: 12px 28px; /* No quotes needed for numerical values + units */
  font-size: 0.9rem; /* No quotes needed */
  border-radius: 20px; /* No quotes needed */
  cursor: pointer; /* No quotes needed for keyword 'pointer' */
  /* font-family: ; */ 

}